# Input and Output in Python
Inputting data into a program can be the most time intensive activity. Python contains a number of packages designed to import and export data with minimum effort and code. The most popular package these days is *pandas*. (I have included a pandas cheat sheet in the `main` repository). You should note that a single backslash does not work when specifying a file path in Python. You need to use aforward slash or add one more backslash as shown in my code below.
All the functions below will return a `dataframe`, an object in Python that stores data and allows access with a certain syntax that I often refer to as "dot notation".

In [1]:
# This code is used to navigate the file structure of main. You may or may not need to run this.
import os as os
cwdup = os.path.split(os.getcwd())
os.chdir(cwdup[0])
print(cwdup)

('C:\\Users\\tomke\\My Drive\\Programs\\courses\\main', 'Python')

In [2]:
print(os.getcwd())

C:\Users\tomke\My Drive\Programs\courses\main

In [3]:
os.chdir(cwdup[0]+'\\'+cwdup[1])

In [5]:
print(os.getcwd())

C:\Users\tomke\My Drive\Programs\courses\main\Python

In [6]:
import pandas as pd
datfile = "data//statepop.mat"
txtfile = "data//globaltemps.txt"
csvfile = "data//sunspotsbyyear.csv"
xlsfile = "data//GlobalCarbonBudget2020.xlsx"

In [7]:
datfile

'data//statepop.mat'

## Read text and *csv* files
We can use the `read_table()` function to pull data from text file. You could also use the `read_csv()` with `sep= "\t"` to read data from tab-separated file or with `sep=\s+` for space separated values. By default, python will look for a header row unless otherwise specified. `pandas` imports data from the files as `dataframes`.

In [8]:
txt1 = pd.read_table(txtfile, header=None,names=['year','temp'])
txt2 = pd.read_csv(txtfile,header=None,sep='\s+')
csv1 = pd.read_csv(csvfile,header=None)
csv2 = pd.read_csv(csvfile,header=None,names = ['year', 'numspots', 'stdev','Nobs','confirmed'])

In [9]:
print(csv2['year'])
txt2[0][23]

0      1700.5
1      1701.5
2      1702.5
3      1703.5
4      1704.5
        ...
311    2011.5
312    2012.5
313    2013.5
314    2014.5
315    2015.5
Name: year, Length: 316, dtype: float64

1903

You can even add column names while loading the file:

If you look at csvfile, you'll see some columns with `-1` as a value; this indicates *missing data*. Classifying your missing data properly will help you avoid accidential using the value in a calculation. You can specify this with another option:

In [15]:
csv3 = pd.read_csv(csvfile,header=None,names = ['year', 'numspots', 'stdev','Nobs','confirmed'],na_values=['-1'])
#csv3.stdev
csv3['stdev']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
311    6.7
312    6.7
313    6.9
314    8.0
315    6.4
Name: stdev, Length: 316, dtype: float64

## Reading Excel files
Python will read excel files in the same manner as MATLAB. You can specify sheets and column/row in which to import.

In [22]:
xcel1 = pd.read_excel(xlsfile,sheet_name="Global Carbon Budget", skiprows=21,header=None)

In [23]:
print(xcel1)
print(type(xcel1))
xcel1[1][2]

                                                    0         1         2  \
0                                                1959     2.415    1.8042
1                                                1960     2.548  1.659441
2                                                1961     2.553  1.593636
3                                                1962     2.644  1.555922
4                                                1963     2.794  1.511243
..                                                ...       ...       ...
60                                               2019  9.945622  1.802637
61                                                NaN       NaN       NaN
62                                              2020*      ~9.3      ~1.6
63                                                NaN       NaN       NaN
64  *2020 values are based on proxies and on proje...       NaN       NaN

          3         4         5         6         7
0    2.0448  0.861368  0.677445  0.012684  0.622904
1    1.5123  0.839096  1.258399  0.013839  0.583806
2    1.6614  0.716516  0.660306  0.014726  1.093688
3    1.1928  0.768402  1.408221  0.015871  0.814628
4    1.2141  0.917365  1.023823  0.016863  1.133093
..      ...       ...       ...       ...       ...
60  5.42682  2.625991  3.136743  0.215298  0.343408
61      NaN       NaN       NaN       NaN       NaN
62     ~5.3       NaN       NaN       NaN       NaN
63      NaN       NaN       NaN       NaN       NaN
64      NaN       NaN       NaN       NaN       NaN

[65 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>

2.553

## Reading `npy` files
`npy` files are `numpy` type data files used to recreate arrays in Python. The syntax to save and load one of these files is
```python
import numpy as np
np.load('filename.npy')
np.save('filename.npy')

```

## Reading `mat` files
You can even read in `.mat` files that are created from MATLAB. You have to use the `scipy.io` module, which contains other useful input/output functions as well. Once loaded, you can access the MATLAB variables using a syntax you've seen before:

    mat1[<variablename>]

In [25]:
import scipy.io as sio
mat1 = sio.loadmat(datfile)
print(mat1.keys())
print(mat1['pop17'])
2*mat1['ev']

dict_keys(['__header__', '__version__', '__globals__', 'ev', 'pop10', 'pop11', 'pop12', 'pop13', 'pop14', 'pop15', 'pop16', 'pop17', 'pop18', 'pop19', 'None', '__function_workspace__'])
[[ 4852347]
 [  737498]
 [ 6829676]
 [ 2978048]
 [38918045]
 [ 5450623]
 [ 3587122]
 [  941252]
 [  675400]
 [20209042]
 [10178447]
 [ 1422052]
 [ 1651059]
 [12858913]
 [ 6608422]
 [ 3120960]
 [ 2909011]
 [ 4425976]
 [ 4664628]
 [ 1328262]
 [ 5985562]
 [ 6794228]
 [ 9931715]
 [ 5482032]
 [ 2988471]
 [ 6071732]
 [ 1030475]
 [ 1891277]
 [ 2866939]
 [ 1336350]
 [ 8867949]
 [ 2089291]
 [19654666]
 [10031646]
 [  754066]
 [11617527]
 [ 3909500]
 [ 4015792]
 [12784826]
 [ 1056065]
 [ 4891938]
 [  853988]
 [ 6591170]
 [27470056]
 [ 2981835]
 [  625216]
 [ 8361808]
 [ 7163657]
 [ 1842050]
 [ 5760940]
 [  585613]
 [ 3473232]]

array([[ 18],
       [  6],
       [ 22],
       [ 12],
       [110],
       [ 18],
       [ 14],
       [  6],
       [  6],
       [ 58],
       [ 32],
       [  8],
       [  8],
       [ 40],
       [ 22],
       [ 12],
       [ 12],
       [ 16],
       [ 16],
       [  8],
       [ 20],
       [ 22],
       [ 32],
       [ 20],
       [ 12],
       [ 20],
       [  6],
       [ 10],
       [ 12],
       [  8],
       [ 28],
       [ 10],
       [ 58],
       [ 30],
       [  6],
       [ 36],
       [ 14],
       [ 14],
       [ 40],
       [  8],
       [ 18],
       [  6],
       [ 22],
       [ 76],
       [ 12],
       [  6],
       [ 26],
       [ 24],
       [ 10],
       [ 20],
       [  6],
       [  0]], dtype=uint8)

## Writing to a Plain Text file
Python contains builtin functions to output information to a plain text file. It involves opening a file to write to, writing to that file, and then closing said file.

In [ ]:
txt1 = txt1.to_string()
f= open("test1.txt","w+")
f.write(txt1)
f.write('\n')
f.close()

You may also append a file (add to it without overwriting).

In [ ]:
f= open("test1.txt","a+")
f.write(txt1)
f.write('\n')
f.close()

## Writing to an Excel file
`pandas` contains a function that allows you to write data to a Microsoft Excel file when using the function `ExcelWriter`. This function requires some groundwork as shown below:

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert a dataframe to an XlsxWriter Excel object.
csv1.to_excel(writer, sheet_name='temps')
csv3.to_excel(writer,sheet_name='temptitles')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Get the xlsxwriter objects from the dataframe writer object. 
#Not strictly needed to write to excel file, only if you want to get in the weeds about the writer object
workbook  = writer.book
worksheet = writer.sheets['temps']
worksheet1 = writer.sheets['temptitles']

writer.sheets

# Example using Pandas for data munging

In [26]:
# read table
df = pd.read_table('data/GlobalTempbyMonth.txt', header=None, index_col=0, sep='\s+')

In [27]:
# show data
df

,1,2,3,4,5,6,7,8,9,10,11
0,,,,,,,,,,,
1850/01,-0.700,-0.757,-0.627,-0.889,-0.510,-1.047,-0.352,-0.898,-0.500,-1.100,-0.299
1850/02,-0.286,-0.342,-0.218,-0.474,-0.098,-0.625,0.052,-0.482,-0.082,-0.676,0.111
1850/03,-0.732,-0.799,-0.680,-0.934,-0.529,-1.009,-0.454,-0.942,-0.519,-1.080,-0.382
1850/04,-0.563,-0.620,-0.493,-0.767,-0.360,-0.816,-0.310,-0.777,-0.349,-0.894,-0.231
1850/05,-0.327,-0.386,-0.279,-0.521,-0.132,-0.589,-0.064,-0.533,-0.128,-0.661,0.001
...,...,...,...,...,...,...,...,...,...,...,...
2017/11,0.552,0.509,0.590,0.513,0.591,0.441,0.663,0.494,0.610,0.427,0.678
2017/12,0.600,0.542,0.640,0.560,0.640,0.475,0.725,0.533,0.658,0.458,0.738
2018/01,0.554,0.507,0.603,0.527,0.581,0.410,0.699,0.503,0.611,0.402,0.710
2018/02,0.522,0.469,0.569,0.495,0.550,0.404,0.640,0.468,0.579,0.393,0.654
2018/03,0.619,0.580,0.660,0.594,0.644,0.498,0.741,0.568,0.668,0.484,0.750

In [28]:
# show index
df.index
print(df.loc['1851/05'])

1    -0.295
2    -0.356
3    -0.250
4    -0.498
5    -0.093
6    -0.522
7    -0.069
8    -0.511
9    -0.089
10   -0.609
11    0.010
Name: 1851/05, dtype: float64

In [29]:
# add new columns
df['average'] = df.mean(axis=1)
df['min'] = df.min(axis=1)
df['max'] = df.max(axis=1)

In [31]:
# sort by average
df2 = df.sort_values(by=1,)

In [32]:
df2

,1,2,3,4,5,6,7,8,9,10,11,average,min,max
0,,,,,,,,,,,,,,
1893/01,-0.974,-1.057,-0.913,-1.082,-0.866,-1.286,-0.663,-1.111,-0.850,-1.316,-0.641,-0.978091,-1.316,-0.641
1864/01,-0.941,-1.014,-0.873,-1.134,-0.748,-1.472,-0.410,-1.147,-0.736,-1.511,-0.372,-0.941636,-1.511,-0.372
1861/01,-0.893,-0.960,-0.833,-1.066,-0.721,-1.336,-0.451,-1.081,-0.710,-1.375,-0.416,-0.894727,-1.375,-0.416
1862/12,-0.887,-0.978,-0.812,-1.071,-0.702,-1.319,-0.455,-1.093,-0.691,-1.368,-0.415,-0.890091,-1.368,-0.415
1917/03,-0.832,-0.910,-0.745,-0.926,-0.738,-1.024,-0.640,-0.952,-0.709,-1.058,-0.604,-0.830727,-1.058,-0.604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016/01,0.934,0.889,0.981,0.908,0.959,0.792,1.075,0.883,0.989,0.784,1.085,0.934455,0.784,1.085
2016/04,0.937,0.892,0.977,0.913,0.961,0.804,1.070,0.885,0.985,0.794,1.079,0.936091,0.794,1.079
2015/12,1.024,0.975,1.064,0.998,1.050,0.908,1.140,0.968,1.073,0.894,1.149,1.022091,0.894,1.149
2016/03,1.106,1.062,1.144,1.082,1.129,0.979,1.232,1.053,1.152,0.965,1.239,1.103909,0.965,1.239
2016/02,1.111,1.058,1.155,1.084,1.138,0.997,1.225,1.057,1.164,0.986,1.237,1.110182,0.986,1.237

In [33]:
# get a certain column
df[1]

0
1850/01   -0.700
1850/02   -0.286
1850/03   -0.732
1850/04   -0.563
1850/05   -0.327
           ...
2017/11    0.552
2017/12    0.600
2018/01    0.554
2018/02    0.522
2018/03    0.619
Name: 1, Length: 2019, dtype: float64

In [34]:
# boolean indexing
df2[df2[1]>0.9]

,1,2,3,4,5,6,7,8,9,10,11,average,min,max
0,,,,,,,,,,,,,,
2016/01,0.934,0.889,0.981,0.908,0.959,0.792,1.075,0.883,0.989,0.784,1.085,0.934455,0.784,1.085
2016/04,0.937,0.892,0.977,0.913,0.961,0.804,1.070,0.885,0.985,0.794,1.079,0.936091,0.794,1.079
2015/12,1.024,0.975,1.064,0.998,1.050,0.908,1.140,0.968,1.073,0.894,1.149,1.022091,0.894,1.149
2016/03,1.106,1.062,1.144,1.082,1.129,0.979,1.232,1.053,1.152,0.965,1.239,1.103909,0.965,1.239
2016/02,1.111,1.058,1.155,1.084,1.138,0.997,1.225,1.057,1.164,0.986,1.237,1.110182,0.986,1.237

In [35]:
# group by year and calculate the average temperature
df['year'] = list(map(lambda x:x[:4], df.index))
year_average = df.groupby(df.year).average.mean()
year_average

year
1850   -0.376318
1851   -0.221894
1852   -0.231598
1853   -0.273061
1854   -0.253462
          ...
2014    0.579667
2015    0.763894
2016    0.797265
2017    0.677697
2018    0.565333
Name: average, Length: 169, dtype: float64

In [36]:
df.index

Index(['1850/01', '1850/02', '1850/03', '1850/04', '1850/05', '1850/06',
       '1850/07', '1850/08', '1850/09', '1850/10',
       ...
       '2017/06', '2017/07', '2017/08', '2017/09', '2017/10', '2017/11',
       '2017/12', '2018/01', '2018/02', '2018/03'],
      dtype='object', name=0, length=2019)

In [ ]:
type(txt1)

In [ ]:
type(txt1.to_string())

In [ ]:
type(txt1)

In [ ]:
test=txt1.to_string()

In [ ]:
type(test)

In [ ]:
test[8]